.compatibuddy-tree {
    display: none;
}

.compatibuddy-tree.ready {
    display: block;
}

.compatibuddy-subject {
    background: red;
}

.compatibuddy-upload-form {
    display: none;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    padding: 30px;
    margin: 30px auto;
    max-width: 380px;
}

.compatibuddy-tree-top {
    padding-top: 8px;
    display: inline-flex;
    flex-wrap: wrap;
}

.compatibuddy-tree-top-item {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 8px;
    flex: 1 1 auto;
    margin-right: 8px;
}

.compatibuddy-tree-top-item-heading {
    margin: 0 0 8px 0;
    font-weight: 600;
    display: block;
}

.compatibuddy-tree-search {

}